*, *::after, *::before {
   box-sizing : border-box;
}

@font-face {
    font-family: RoundedFont;
    src: url("./VarelaRound-Regular.ttf");
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin : 0;
    font-family: RoundedFont;
    font-size: 1.3rem;
    font-weight: bold;
    background: #ddd;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    width: auto;
}

.flex-item {
    text-align: center;
}