*, *::after, *::before {
   box-sizing : border-box;
}

@font-face {
    font-family: Rounded;
    src: url("./VarelaRound-Regular.ttf");
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
}

html, body {
    padding: 0;
    margin : 0;
    font-family: Rounded;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 10fr;
    height: 100%;
}

.header-gui {
    background-color: #47aa6c;
    grid-column: 1 / -1;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.sidebar {
    background-color: #ccc;
}

.game-container {
    background-color: #fefefe;
}

.data-container {
    border: .1rem solid #bbb;
    background-color: #ddd;
    color: #222;
    font-weight: bold;
    width:fit-content;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
}

.data-container.lighter {
    display: grid;
    background-color: #eee;
    border-color: #ddd;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1.5fr repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.data-container.lighter .data-container {
    grid-column: 1 / -1;
    margin-top: .5rem;
    margin-bottom: .5rem;
}